#dashboard-container{
    background-image: url('https://img.freepik.com/free-photo/business-parking-empty-carpark-abstract_1203-5195.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}