#forgot-passwd-container{
    background-image: url('https://media.istockphoto.com/id/1419445205/photo/new-cars-in-showroom-interior-blurred-abstract-background.webp?b=1&s=170667a&w=0&k=20&c=GNnX7_iLiJ3FCQtCeUh-VtW6gRHh0NOavRoqkhGlH2A=');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}